


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <!-- Insert form here -->
<h2>Log in</h2>
<div class="sign-up">
  <%= simple_form_for @cocktail do |f| %>
    <div class="form-inputs" style="color: white;">
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "create cocktail", class: "btn btn-primary" %>
      <% end %>
    </div>
      </div>
    </div>
  </div>
</div>
