<div class="main-content">

  <div class="concept concept-six" >
    <a href="/cocktails "class="text-decoration-none">
    <h1 class="word">
      <span class="char">C</span>
      <span class="char">O</span>
      <span class="char">C</span>
      <span class="char">K</span>
      <span class="char">T</span>
      <span class="char">A</span>
      <span class="char">I</span>
      <span class="char">L</span>
      <span class="char">S</span>
    </h1>
    </a>
    </div>
  </div>

<footer><a href="" target="_blank"><i class="icon-social-twitter icons"></i></a><a href="" target="_blank"><i class="icon-social-github icons"></i></a><a href="" target="_blank"><i class="icon-social-dribbble icons"></i></a></footer>
