<div class="main-content">

  <div class="concept concept-six" >

    <h1 class="word"<%= link_to "", cocktails_path %>><span class="char">C</span><span class="char">O</span><span class="char">C</span><span class="char">K</span><span class="char">T</span><span class="char">A</span><span class="char">I</span><span class="char">L</span><span class="char">S</span>
    </h1>
    </div>
  </div>


<footer><a href="" target="_blank"><i class="icon-social-twitter icons"></i></a><a href="" target="_blank"><i class="icon-social-github icons"></i></a><a href="" target="_blank"><i class="icon-social-dribbble icons"></i></a></footer>
