// Import page-specific CSS files here.
@import "home";

h1 {
  color: $light-gray
}

body {
  background-color: black;
}

button {
   display: center;
 padding:0.3em 1.2em;
 margin:0 0.3em 0.3em 0;
 border-radius:2em;
 box-sizing: border-box;
 text-decoration:none;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 color:#FFFFFF;
 background-color:#4eb5f1;
 text-align:center;
 transition: all 0.2s;
}

.cards {

  margin : 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  a {
    text-decoration: none;
    color: black;
  border-radius: 4px;
  }
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-bottom: 16px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


