// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background: black;
  font-family: "Comfortaa", sans-serif;
  position: relative;
  text-decoration: none !important;
}

footer {
  text-align: center;
  padding: 1em;
  max-width: 80px;
  position: fixed;
  top: 0;
  right: 25px;
}
footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #fff;
  color: #fff;
  margin: 5px;
}
footer a:hover {
  background: rgba(255, 255, 255, 0.1);
}
footer a .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

.main-content {
  text-align: center;
  text-transform: uppercase;
  scroll-snap-type: y mandatory;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
}

.hover,
.word,
h1 {
  cursor: pointer;
  text-decoration: none;
}

h1 {
  position: relative;
  color: #fff;
  font: 900 60px Montserrat;
  text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.concept {
  position: relative;
  padding: 5em;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: center;
  display: center;
}
.concept:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.concept:hover:before {
  opacity: 0.5;
}


.concept-six {
  align-items: center;
  background-image: asset-url("background_image.jpg");
  background-size: cover;
}

.concept-six .word {
  width: 550px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  text-decoration: none;
}
.concept-six .word:hover .char:nth-child(1) {
  margin-top: -30px;
  transform: rotate(-20deg);
  text-decoration: none;
}
.concept-six .word:hover .char:nth-child(2) {
  margin: -40px 0px 0 10px;
  transform: rotate(5deg);
  text-decoration: none;
}
.concept-six .word:hover .char:nth-child(3) {
  margin: 15px 0 0 10px;
  transform: rotate(12deg);
  text-decoration: none;
}
.concept-six .word:hover .char:nth-child(4) {
  margin: -25px 0 0;
  transform: rotate(5deg);
  text-decoration: none;
}
.concept-six .word:hover .char:nth-child(5) {
  margin: -40px 5px 0;
  transform: rotate(-10deg);
  text-decoration: none;
}
.concept-six .word:hover .char:nth-child(6) {
  margin: -15px 5px 0;
  transform: rotate(-10deg);
  text-decoration: none;
}
.concept-six .word:hover .char:nth-child(7) {
  margin: -25px 5px 0;
  transform: rotate(-10deg);
  text-decoration: none;
}
.concept-six .word:hover .char:nth-child(8) {
  margin: -40px 5px 0;
  transform: rotate(-10deg);
  text-decoration: none;
}
.concept-six .char {
  flex: 1;
  transition: 0.3s ease-in-out;
  position: relative;
  text-decoration: none;
}


@keyframes jump-out {
  0% {
    opacity: 0;
    transform: scale(1);
    text-decoration: none;
  }
  20% {
    opacity: 1;
    text-decoration: none;
  }
  100% {
    opacity: 0;
    transform: scale(2);
    text-decoration: none;
  }
}

